/* RESET */
*{
    box-sizing: border-box;
    margin:0;
    padding:0
}
/* COMMON */
body{
    max-width: 1200px;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient( #009688 10%, #d5dbda 0%);
}
.d-flex{
    display: flex;
}
.j-end{
    justify-content: end;
}
.p-10{
    padding: 0.625rem;
}
.header-c-left, .header-c-right{
    height:60px;
    justify-content: space-between;
    align-items: center;
    background-color:#eaeaea ;
}
.user-avatar img{
    width: 35%;
    border-radius: 50%;
}
.icons i{
    color: #b1b1b1;
    font-size: 1.25rem;
    margin-right: 0.625rem;
}
.last-logon{
    color: #b1b1b1;
}

/* MAIN CONTAINER */
.main-container{
    width: 85%;
    height: 700px;
    margin:5% 10%;
}
/* CONTAINER LEFT */
.c-left{
    width:40%;
}
/* HEADER CONTAINER LEFT */
.user-avatar{
    width: 35%;
    margin: 0.313rem;
    align-items:center;
}
/* MAIN CONTAINER LEFT */
.main-c-left{
    height: calc(100% - 60px);
    background-color: #fafafa;
    flex-direction: column;
}
.notification{
    height: 60px;
    background-color: #8edafc;
}
.notification-icon{
    border-radius: 50%;
    color: #8edafc;
    background-color: #fff;
    margin-right:0.625rem;
}
.notification a{
    color: gray;
}
.chat-search{
    height: 35px;
    background-color: #fff;
    margin:0.313rem;
} 
.chat-search i{
    color: #b1b1b1;
    padding: 2% 5%;
}
.chat-search input{
    width: 90%;
    border:none;
    padding:0 0.625rem;
}
.chat-avatar-container{
    height:60px;
    align-items: center;
}
.chat-avatar{
    width: 15%;
    margin: 0.313rem;
    border-radius: 50%;
    align-items:center;
}
/* CONTAINER-RIGHT */
.c-right{
    width: 60%;
}
.info-chat{
    width:45%;
    margin: 0.313rem;
    align-items:center;
}
.info-chat img{
    width:15%;
    border-radius: 50% ;
    margin-right: 0.625rem;
}
/* MAIN CONTAINER RIGHT */
.main-c-right{
    height: calc(100% - 100px);
    background-image: url(../img/mine.jpg);
    padding: 2.5rem;
}
 .message{
    margin:0.625rem;
    width: 50%;
    border-radius: 0.625rem;
} 
.sent{
    background-color: #d5f9ba;
}
.received{
    background-color: #fff;
}
/* FOOTER CONTAINER RIGHT */
.footer-c-right{
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #f3eeea;
    padding: 0.625rem 2.5rem;
}
.footer-c-right input{
    width:80%;
    border: none;
    border-radius: 0.313rem;
    padding: 0.313rem 0.625rem;
}