/* VARIABLES */
@import url(variables.css);

/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */
body{
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-image: var(--body-bg-color) ;
    background-attachment: fixed ;
    padding: 1.875rem;
}
.d-flex{
    display: flex;
}
.j-end{
    justify-content: end;
}
.a-center{
    align-items: center;
}
.p-10px{
    padding: 0.625rem;
}
.h-60px{
    height: 3.75rem;
}
.header-left, .header-right{
    justify-content: space-between;
    background-color: var(--header-bg-color) ;
}
.user-avatar img{
    width: 35%;
    border-radius: 50%;
}
.icons i{
    color: var(--light-gray);
    font-size: 1.25rem;
    margin-right: 0.625rem;
}
.last-logon{
    color: var(--light-gray);
}
/* CONTAINER */
.container{
    width: 85%;
    height: 34.375rem;
    margin:auto;
}
/* COLUMN LEFT */
.col-left{
    width:40%;
    flex-direction: column;
    background-color: var(--col-left-bg-color);
}

/* HEADER LEFT */
.user-avatar{
    margin: 0.313rem;
}
.user-avatar img{
    width: 15%;
    border-radius: 50% ;
    margin-right: 0.625rem;
}
/* NOTIFICATIONS */
.notification{
    background-color: var(--notifications-color) ;
}
.notification-icon{
    background-color: var(--white);
    color: var(--notifications-color);
    border-radius: 50%;
    margin-right:0.625rem;
}
.notification a{
    color: var(--notifications-a-color);
}
/* SEARCH BAR */
.search-bar{
    background-color: var(--white);
    margin:0.313rem;
} 
.search-bar i{
    color:var(--light-gray);
    padding: 2% 5%;
}
.search-bar input{
    width: 90%;
    border: none;
    padding: 0 0.625rem;
}
/* CONTACTS */
.contacts{
    flex-grow: 1;
    overflow-y:auto;
}
.contact{
    cursor: pointer;
}
.contact img{
    width: 15%;
    margin: 0.313rem;
    border-radius: 50%;
}
/* COLUMN RIGHT */
.col-right{
    width: 60%;
    flex-direction: column;
}
/* HEADER  RIGHT */
.contact-avatar{
    margin: 0.313rem;
    cursor: pointer;
}
.contact-avatar img{
    width:10%;
    border-radius: 50% ;
    margin-right:  0.625rem;
}
/* MESSAGES */
.messages{
    background-image: url(../img/mine.jpg);
    flex-grow:1;
    overflow-y: auto;
    padding: 3.125rem 5rem;
}
.messages > .message-container:not(:last-child){
    margin-bottom: 0.625rem;
}
.message{
    width: 60%;
    border-radius: 0.625rem;
    margin:0.625rem;
} 
.message-container.sent{
    justify-content: flex-end;
}
.message-container.sent .message{
    background-color: var(--sent-message-color);
}
.message-container.received{
    justify-content: flex-start;
}
.message-container.received .message{
    background-color: var(--white);
}
.time{
   color: var(--light-gray);
   font-size: 0.75rem;
   padding-top:0.75rem;
}
.contact .time{
    width: 30%;
}
/* FOOTER COLUMN RIGHT */
.footer-col-right{
    flex-shrink:0;
    justify-content: space-between;
    background-color: var(--footer-col-right-bg-color);
    padding: 0.625rem 2.5rem;
}
.footer-col-right input{
    width:80%;
    border: none;
    border-radius: 0.313rem;
    padding: 0.313rem 0.625rem;
}
.active{
    background-color:var(--active-bg-color);
}