<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>Boolzapp</title>
</head>
<body>
    <div class=" container d-flex" id="app">
        <!-- COLUMN LEFT -->
        <div class="col-left d-flex">
            <!-- HEADER-LEFT -->
           <div class="header-left h-60 d-flex ">
              <div class="user-avatar d-flex">
                   <img src="img/avatar_io.jpg" alt="me-avatar">
                   <h3>Simona</h3>
              </div>
              
              <div class="icons d-flex">
                  <i class="fa-solid fa-circle-notch"></i>
                  <i class="fa-solid fa-message"></i>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
              </div>
           </div>
           <!-- HEADER LEFT END -->
           <!-- NOTIFICATIONS -->
            <div class="notification h-60 p-10 d-flex">
              <div class="notification-icon p-10">
                    <i class="fa-solid fa-bell-slash"></i>
              </div>
              <div class="notification-text">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#"> Attiva notifiche Desktop</a>
               </div>
            </div>
            <!-- NOTIFICATIONS END -->
            <!-- SEARCH BAR -->
            <div class="search-bar d-flex" >
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Cerca o inizia una nuova chat">
            </div>
            <!-- SEARCH BAR END -->
            <!-- CONTACTS -->
            <div class="contacts">
                <div 
                  v-for="(contact, index) in contacts" 
                  class="contact activeContact d-flex "  
                 :class="{active: index === activeContact} " 
                 @click="showActiveContact(index)">
                    <img :src=" `img/avatar${contact.avatar}.jpg`" alt="">
                    <div class="contact-text " >
                        {{ contact.name}}
                        <p class="last-logon">Ultimo messaggio inviato</p>
                    </div>
                    <div class="time d-flex">12:00</div>
                </div>
                
            </div>
           <!-- CONTACTS END -->
        </div>
        <!-- CONTAINER LEFT END -->

        <!-- COLUMN RIGHT -->
        <div class="col-right d-flex">
            <!-- HEADER  RIGHT -->
            <div class="header-right h-60 d-flex ">
              <div  class="contact-avatar d-flex">
                   <img :src=" `img/avatar${contacts[activeContact].avatar}.jpg`" alt="me-avatar">
                   <div class="text">
                       <h3 >{{contacts[activeContact].name}}</h3>
                       <p class="last-logon">Ultimo accesso oggi alle 12:00</p>
                   </div>
              </div>
              <div class="icons d-flex">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <i class="fa-solid fa-paperclip"></i>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!-- HEADER CONTAINER RIGHT END -->
            <!-- MESSAGES -->
            <div class="messages">
               <div class="message-container d-flex " v-for="message in contacts[activeContact].messages" :class="message.status">
                   <div class="message p-10" >
                       <span > {{ message.message }} </span> 
                       <span class="time d-flex">12:00</span>
                   </div>
              </div>
            </div>
            <!-- MESSAGES END -->

            <!-- FOOTER COLUMN RIGHT -->
            <form class="footer-col-right d-flex" @submit.prevent="newText">
                <i class="fa-regular fa-face-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage.text" required >
                <i class="fa-solid fa-microphone"></i>
            </form>
            <!-- FOOTER COLUMN RIGHT END -->
        </div>
        <!-- CONTAINER RIGHT END -->
    </div>
    <script src="js/main.js"></script>
</body>
</html>